.container
{
    height: 200px;
    position: relative;
    border: 3px solid #2069e0;
}
.containerCL
{
    height: 75px;
    position: relative;
}
.center
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(50%, -50%);
    transform: translate(-50%, -50%);
}

body
{
    background-color: #121212;
    font-family: monospace;
}
h1
{
    font-size: 50px;
    text-align: center;
    color: #2069e0;
}
h2
{
    text-align: center;
    color: #2069e0;
}
button
{
  background-color: #042baa;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}